<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <php>
        <ini name="date.timezone" value="Asia/Tokyo"/>
    </php>
    <testsuites>
        <testsuite name="MangaCafe">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>